{% extends 'basic.html' %}
{% load static %}

{% block content %}
      {% include 'header.html' %}
    <div class="container">
    <section style="text-align: center; padding: 100px;" class="notFound">
		<div class="wrapper">
			<div class="notFound-img">
				<img src="{% static 'img/notFound-img.svg' %}" alt="">
			</div>
			<h1 class="notFound-title">Такой страницы не существует</h1>
			<a href="/" class="btn">Перейти на главную</a>
		</div>
	</section>
    </div>

{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}