{% extends  'basic.html' %}
{% load static %}

{% block title %}
   {{ pageTitle }}
{% endblock %}

{% block keywords %}
    {{ pageKeywords }}
{% endblock %}

{% block description %}
    {{ pageDescription }}
{% endblock %}

{% block css %}
    {{ block.super }}
     <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}">
{% endblock %}



{% block content %}
    {% include 'header_index.html' %}
  <div class="main">
    <section class="feature">
        <h3>Мы бесплатно устраненим все недочёты, обнаруженные в течении 24 часов</h3>
        <div class="feature-wrapper">
            <div class="container feature-relative">
                <div class=" feature-inner">
                    <div data-num="01" class="feature-item shadow-box item1">
                        <div class="shadow-box-inner">
                            <p><span>Стоимость уборки не меняется</span> после утверждения</p>
                        </div>
                    </div>
                    <div data-num="02" class="feature-item shadow-box item2">
                        <div class="shadow-box-inner">
                            <p><span>Все сотрудники</span> проходят обучение и имеют санкнижки</p>
                        </div>
                    </div>
                    <div data-num="03" class="feature-item shadow-box item3">
                        <div class="shadow-box-inner">
                            <p><span>Используем только</span> безопасные моющие средства</p>
                        </div>
                    </div>
                    <div data-num="04" class="feature-item shadow-box item4">
                        <div class="shadow-box-inner">
                            <p><span>Мы проверяем</span> отзывы, разбираемся с жалобами</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--//feature-->
    <section class="services">
         <h3>Предлагаем самый полный спектр услуг профессионального клининга</h3>
        <div class="container-sm">
            <div class="services-items">
                {% for service in servicesAtHome %}
                    <div class="services-item">
                    <a href="{% url 'service' service.name_slug %}">
                         <img style="border-radius: 50%" src="{{ service.image_small.url }}" alt="{{ service.name }}">
                        <p>{{ service.name }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <section class="about">
           <h3>Клининговая компания "Мистер Клин"</h3>
        <div class="about-wrapper">
             <div class="container about-inner">

            <p>      <p><span style="max-width: 700px">История Клининговой компании Мистер Клин начинается в 2003 году. На тот момент в области не оказывали подобных услуг. Наша компания была первооткрывателем на рынке и открытием для потенциальных потребителей. Мы формировали рынок и спрос с нуля. Путем проб и ошибок выводили оптимальное ценообразование. Благодаря этому опыту мы и по сей день остаемся первыми на рынке клининговых услуг в Челябинске и области.</span>
                    <span style="max-width: 700px"><strong>Цель компании</strong> — взять на себя часть важных задач, каждого кто обращается к нам за помощью, делаем это профессионально, быстро и качественно. Для того чтоб держать марку мы постоянно повышаем квалификацию наших сотрудников и делаем все возможное чтоб партнерские отношения были долгосрочными.</span></p>
        </div>
        </div>
    </section>

    <section class="our-clients">
         <h3>Наши клиенты</h3>
        <div class="container">
                 <div class="clients-slider" id="clients-slider">
                     {% for i in num %}
                         <div class="clients-slider-item">
                                            <img src="/static/img/clients/{{ i }}.jpg " alt="">
                                        </div>
                    {% endfor %}




            </div>
            <div class="controls" id="clients-slider-controls">
                  <div style="bottom: 15px" class="prev">
                    <img src="{% static 'img/left-arrow.png' %} " alt="">
                </div>
                <div style="bottom: 15px" class="next">
                    <img src="{% static 'img/right-arrow.png' %}" alt="">
                </div>
            </div>

        </div>


    </section>


      <section class="our-help not-visible-md">
        <div class="container ">
            <h3>Наша работа и отзывы о ней</h3>



            <div class="our-help-media-slider" id="our-help-media-slider">
               {% for comment in allComments %}
                   <div class="slider-itemm">
                    <div class="our-help-inner">
                <div id="review_image" class="our-help-media" style="background: url({{ comment.image.url }}) no-repeat center">
                </div>
                  <div class="our-help-info">
                    <div class="our-help-info-header mb30">
                       <img id="writtenbyavatar" src="{{ comment.writtenByAvatar.url }}">
                        <div class="our-help-info-writtenby">
                            <p id="writtenby">{{ comment.writtenBy }}</p>
                            <a id="writtenbyvk" href="#">{{ comment.writtenByVk }}</a>
                        </div>
                    </div>
                       <p id="review_shortReview" class="mb30">
                        {{ comment.description }}
                   </p>
                </div>
            </div><!-- //our-help-inner-->
                   </div>

{#                <div class="our-help-media-slide-item"#}
{#                     data-image="{{ comment.image.url }}"#}
{#                     data-writtenby="{{ comment.writtenBy }}"#}
{#                     data-writtenbyavatar="{{ comment.writtenByAvatar.url }}"#}
{#                     data-writtenbyvk="{{ comment.writtenByVk }}"#}
{#                     data-text="{{ comment.description }}"#}
{##}
{#                     onclick="changeReview(this)">#}
{#                    <div class="our-help-media-slide-image">#}
{#                        <img src="{{ comment.image.url }}" alt="">#}
{#                    </div>#}
{#                </div>#}
               {% endfor %}
            </div>

            <div class="controls" id="customize-controls">
                 <div style="bottom: 300px" class="prev">
                    <img class="our-help-prev"  src="{% static 'img/left-arrow.png' %} " alt="">
                </div>
                <div style="bottom: 300px" class="next">
                    <img class="our-help-next" src="{% static 'img/right-arrow.png' %}" alt="">
                </div>
            </div>
        </div>

    </section><!-- // our-help -->

</div><!--//main-->




{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/tiny-slider.js' %}"></script>
   <script>


       let review_image=document.getElementById('review_image'), writtenbyavatar=document.getElementById('writtenbyavatar'),
            writtenby=document.getElementById('writtenby'),writtenbyvk=document.getElementById('writtenbyvk'),
            review_shortReview=document.getElementById('review_shortReview')
    function changeReview(el) {

            review_image.style.background = "url('"+el.dataset.image+"') no-repeat center"
            writtenby.innerText = el.dataset.writtenby
            writtenbyavatar.setAttribute('src',el.dataset.writtenbyavatar)
            writtenbyvk.innerText = el.dataset.writtenbyvk
            writtenbyvk.setAttribute('href',el.dataset.writtenbyvk)
            review_shortReview.innerHTML = el.dataset.text

    }

 var slider = tns({
        container: '.our-help-media-slider',
         items: 1,
        gutter:50,
        controlsContainer: '#customize-controls',
        autoplay: false,
        autoplayTimeout: 4000,
        speed: 1000,
        mouseDrag:true,
    });
        var slider1 = tns({
        container: '.clients-slider',
        items: 5,
        gutter: 10,
        controlsContainer: '#clients-slider-controls',
        autoplay: true,
        autoplayTimeout: 2000,
        speed: 1000,
            mouseDrag:true,
    });

















</script>
{% endblock %}