{% extends  'basic.html' %}
{% load static %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block keywords %}
    {{ pageKeywords }}
{% endblock %}

{% block description %}
    {{ pageDescription }}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/luminous-basic.min.css' %}">
    {{ block.super }}
{% endblock %}



{% block content %}
    {% include 'header.html' %}
    <div class="main">
        <section style="max-width: 800px" class="container calculator-form">
            <div class="section-header">
                <h1>{{ currentService.page_h1 }}</h1>
            </div>
            {% if currentService.show_calc %}
            {% include 'pages/form.html' %}
            {% endif %}
        </section>
        {% if currentService.serviceprice_set.all %}
            <section  class="service-prices">
                <div class="container service-prices-inner">
                    <div class="service-prices-inner-big-block">
                        <h5>Наименование<span>/Цена</span></h5>
                        {% for item in currentService.serviceprice_set.all %}
                            <p style="flex-direction: column; align-items: flex-start;justify-content: center"> {{ item.name }} {% if item.info %}<span >{{ item.info }}</span>{% endif %}
                            <b>от {{ item.price }} &#8381;</b>
                            </p>
                        {% endfor %}

                    </div>
                    <div class="service-prices-inner-small-block">
                        <h5>Цена</h5>
                        {% for item in currentService.serviceprice_set.all %}
                            <p>от {{ item.price }} &#8381;</p>
                        {% endfor %}
                    </div>

                </div>
            </section><!--//service-prices-->
        {% endif %}
        {% if currentService.servicefeature_set.all %}
            <section class="service-feature">
                <h3 class="text-center">Почему мы?</h3>
                <div class="container-sm service-feature-items">
                    {% for feature in currentService.servicefeature_set.all %}
                        <div class="service-feature-item">
                            <div class="service-feature-item-number">
                                <img width="75" src="{{ feature.icon.url }}" alt="{{ feature.name }}">
                            </div>
                            <div class="service-feature-item-info">
                                <p>{{ feature.name }}</p>
                            </div>
                        </div><!--//service-feature-item-->
                    {% endfor %}
                </div>

            </section><!--//service-features-->
        {% endif %}
        <section class="about">
            <div style="background: url({{ currentService.get_about_bg }}) no-repeat 70% 0;" class="about-wrapper">
                <div class="container about-inner">
                    <div style="width: 450px">
                          <h3>{{ currentService.name }}</h3>
                        {{ currentService.smallText | safe }}
                   </div>
                </div>
            </div>
        </section>
        {% if currentService.serviceimage_set.all %}
            <section class="container about-us-gallery mb-80">
                <h3 class="section-header mb-80">Фото наших работ</h3>
                <ul class="gallery-wrapper">
                    {% for image in currentService.serviceimage_set.all %}
                        <li>
                            <a class="gallery-demo" href="{{ image.icon.url }}">
                                <img style="width: 250px; height: 250px !important;object-fit: cover" src="{{ image.image_small }}" alt="{{ currentService.page_h1 }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        {% if currentService.name_slug == 'generalnaya-uborka' %}
             <section class="video-comments">
                <div class="container">
                    <h3 style="text-align: center;margin-bottom: 70px;">Наши видео</h3>
                    <div class="video-comments-wrapper">
                            <div class="video-comments-item">
                                <div id="container" style="background: url(https://img.youtube.com/vi/jzEpEyslcu4/hqdefault.jpg) no-repeat center; box-shadow: none">
                                    <button  id="playme" onclick="revealVideo('video00','youtube')"></button>
                                </div>
                                <div id="video00" class="lightbox" onclick="hideVideo('video00','youtube')" >
                                    <div class="lightbox-container">
                                        <div class="lightbox-content">
                                            <button onclick="hideVideo('video00','youtube')" class="lightbox-close">
                                                Закрыть | ✕
                                            </button>
                                            <div class="video-container">
                                                <iframe id="youtube" width="960" height="540" src="https://www.youtube.com/embed/jzEpEyslcu4?showinfo=0" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- // video-comments-item -->
                    </div>
                </div>
            </section><!-- // video-comments -->
        {% endif %}
        {% if all_steps %}
            <section class="work-process">
                <div class="container">
                    <h3 class="section-header mb-80">Этапы работ</h3>
                    <div class="work-process-wrapper">
                        {% for step in all_steps %}
                            <div class="work-process-item">
                            <picture data-num="{% if forloop.counter < 10 %}0{% endif %}{{ forloop.counter }}" {% if forloop.last %}class="no-arrow"{% endif %}>
                                <img width="100" height="100" src="{{ step.icon.url }}" alt="{{ step.name }}">
                            </picture>
                            <p>{{ step.name }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
        {% if allComments %}
            <section class="our-help not-visible-md">
            <div class="container ">
                <h3>Наша работа и отзывы о ней</h3>
                <div class="our-help-media-slider" id="our-help-media-slider">
                    {% for comment in allComments %}
                          <div class="slider-itemm">
                    <div class="our-help-inner">
                <div id="review_image" class="our-help-media" style="background: url({{ comment.image.url }}) no-repeat center">
                </div>
                  <div class="our-help-info">
                    <div class="our-help-info-header mb30">
                       <img id="writtenbyavatar" src="{{ comment.writtenByAvatar.url }}">
                        <div class="our-help-info-writtenby">
                            <p id="writtenby">{{ comment.writtenBy }}</p>
                            <a id="writtenbyvk" href="#">{{ comment.writtenByVk }}</a>
                        </div>
                    </div>
                       <p id="review_shortReview" class="mb30">
                        {{ comment.description }}
                   </p>
                </div>
            </div><!-- //our-help-inner-->
                   </div>
                   {% comment %}     <div class="our-help-media-slide-item"
                             data-image="{{ comment.image.url }}"
                             data-writtenby="{{ comment.writtenBy }}"
                             data-writtenbyavatar="{{ comment.writtenByAvatar.url }}"
                             data-writtenbyvk="{{ comment.writtenByVk }}"
                             data-text="{{ comment.description }}"

                             onclick="changeReview(this)">
                            <div class="our-help-media-slide-image">
                                <img src="{{ comment.image.url }}" alt="Наша работа и отзывы о ней">
                            </div>
                        </div>{% endcomment %}
                    {% endfor %}
                </div>

                 <div class="controls" id="customize-controls">
                 <div style="bottom: 300px" class="prev">
                    <img class="our-help-prev"  src="{% static 'img/left-arrow.png' %} " alt="">
                </div>
                <div style="bottom: 300px" class="next">
                    <img class="our-help-next" src="{% static 'img/right-arrow.png' %}" alt="">
                </div>
            </div>
            </div>
        </section><!-- // our-help -->
        {% endif %}
        {% if allVideoComments %}
            <section class="video-comments">
                <div class="container">
                    <h3 style="text-align: center;margin-bottom: 70px;">Видео отзывы</h3>
                    <div class="video-comments-wrapper">
                        {% for video in allVideoComments %}
                            <div class="video-comments-item">
                                <div id="container" style="background: url(https://img.youtube.com/vi/{{ video.url }}/hqdefault.jpg) no-repeat center; background-size: cover">
                                    <button  id="playme" onclick="revealVideo('video{{ forloop.counter }}','youtube')"></button>
                                </div>

                                <div id="video{{ forloop.counter }}" class="lightbox" onclick="hideVideo('video{{ forloop.counter }}','youtube')" >
                                    <div class="lightbox-container">
                                        <div class="lightbox-content">
                                            <button onclick="hideVideo('video{{ forloop.counter }}','youtube')" class="lightbox-close">
                                                Закрыть | ✕
                                            </button>
                                            <div class="video-container">
                                                <iframe id="youtube" width="960" height="540" src="https://www.youtube.com/embed/{{ video.url }}?showinfo=0" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- // video-comments-item -->
                        {% endfor %}

                    </div>
                </div>
            </section><!-- // video-comments -->
        {% endif %}
        <section class="seo-text">
            <div class="container">
                  <h3 class="section-header mb-80">Подробнее</h3>
                {{ currentService.pageText | safe }}
            </div>

        </section>

    </div><!--//main-->

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/Luminous.min.js' %}"></script>
    <script>new LuminousGallery(document.querySelectorAll(".gallery-demo")); </script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script>
        // Function to reveal lightbox and adding YouTube autoplay
        function revealVideo(div,video_id) {
            var video = document.getElementById(video_id).src;
            document.getElementById(video_id).src = video+'&autoplay=1'; // adding autoplay to the URL
            document.getElementById(div).style.display = 'block';
        }

        // Hiding the lightbox and removing YouTube autoplay
        function hideVideo(div,video_id) {
            var video = document.getElementById(video_id).src;
            var cleaned = video.replace('&autoplay=1',''); // removing autoplay form url
            document.getElementById(video_id).src = cleaned;
            document.getElementById(div).style.display = 'none';
        }
    </script>
    <script>
        function readOurWorkText() {
            let x = document.getElementById("why-our-work-text")
            x.classList.toggle('why-our-work-text-active')
        }

        function readFullReview() {
            let x = document.getElementById("readfullreview_btn")
            if (x.innerHTML === "Читать далее...") {
                x.innerHTML = "Скрыть";
            } else {
                x.innerHTML = "Читать далее...";
            }
            document.getElementsByClassName('our-help-inner-full-review')[0].classList.toggle('full-review-active')


        }
        let review_image=document.getElementById('review_image'), writtenbyavatar=document.getElementById('writtenbyavatar'),
            writtenby=document.getElementById('writtenby'),writtenbyvk=document.getElementById('writtenbyvk'),
            review_shortReview=document.getElementById('review_shortReview')
        function changeReview(el) {

            review_image.style.background = "url('"+el.dataset.image+"') no-repeat center"
            writtenby.innerText = el.dataset.writtenby
            writtenbyavatar.setAttribute('src',el.dataset.writtenbyavatar)
            writtenbyvk.innerText = el.dataset.writtenbyvk
            writtenbyvk.setAttribute('href',el.dataset.writtenbyvk)
            review_shortReview.innerHTML = el.dataset.text

        }


       var slider = tns({
        container: '.our-help-media-slider',
         items: 1,
        gutter:50,
        controlsContainer: '#customize-controls',
        autoplay: false,
        autoplayTimeout: 4000,
        speed: 1000,
        mouseDrag:true,
    });



    </script>

{% endblock %}
