{% extends  'basic.html' %}
{% load static %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block keywords %}
    {{ pageKeywords }}
{% endblock %}

{% block description %}
    {{ pageDescription }}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/luminous-basic.min.css' %}">
    {{ block.super }}
{% endblock %}



{% block content %}
    {% include 'header.html' %}
    <div class="main">
        <section style="max-width: 800px" class="container calculator-form">
            <div class="section-header">
                <h1>{{ currentService.page_h1 }}</h1>
            </div>
            {% include 'pages/form.html' %}
        </section>
     {% if currentService.serviceprice_set.all %}
    <section  class="service-prices">
        <div class="container service-prices-inner">
            <div class="service-prices-inner-big-block">
                <h5>Наименование</h5>
                {% for item in currentService.serviceprice_set.all %}
                    <p>{{ item.name }}<span>{{ item.info }}</span></p>
                {% endfor %}

            </div>
            <div class="service-prices-inner-small-block">
                <h5>Цена</h5>
                 {% for item in currentService.serviceprice_set.all %}
                     <p>{{ item.price }} руб</p>
                {% endfor %}
            </div>

        </div>
    </section><!--//service-prices-->
      {% endif %}
                {% if currentService.servicefeature_set.all %}
                    <section class="service-feature">
                     <h3 class="text-center">Почему мы?</h3>
                        <div class="container-sm service-feature-items">
                            {% for feature in currentService.servicefeature_set.all %}
                            <div class="service-feature-item">
                                <div class="service-feature-item-number">
                                    <img width="75" src="{{ feature.icon.url }}" alt="">
                                </div>
                                <div class="service-feature-item-info">
                                    <p>{{ feature.name }}</p>
                                </div>
                            </div><!--//service-feature-item-->
                            {% endfor %}
                        </div>

                </section><!--//service-features-->
            {% endif %}
        <section class="about">
            <h3>Клининговая компания "Мистер Клин"</h3>
            <div class="about-wrapper">
                <div class="container about-inner">
                    <div style="width: 450px">
                        {{ currentService.smallText | safe }}
                    </div>


                </div>
            </div>
        </section>
 {% if currentService.serviceimage_set.all %}
      <section class="container about-us-gallery mb-80">
        <h3 class="section-header mb-80">Фото наших работ</h3>
        <ul class="gallery-wrapper">
            {% for image in currentService.serviceimage_set.all %}
            <li>
                <a class="gallery-demo" href="{{ image.icon.url }}">
                    <img style="width: 250px; height: 250px !important;object-fit: cover" src="{{ image.image_small }}" alt="">
                </a>
            </li>
         {% endfor %}
        </ul>
    </section>
{% endif %}
  <section class="work-process">
        <div class="container">
             <h3 class="section-header mb-80">Этапы работ</h3>
            <div class="work-process-wrapper">
                <div class="work-process-item">
                    <picture data-num="01">
                        <img  src="http://placehold.it/100" alt="">
                    </picture>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptates!</p>
                </div>
                   <div class="work-process-item">
                    <picture data-num="02">
                        <img  src="http://placehold.it/100" alt="">
                    </picture>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptates!</p>
                </div>
                   <div class="work-process-item">
                    <picture data-num="03">
                        <img  src="http://placehold.it/100" alt="">
                    </picture>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptates!</p>
                </div>
                   <div class="work-process-item">
                    <picture data-num="04">
                        <img  src="http://placehold.it/100" alt="">
                    </picture>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptates!</p>
                </div>
                    <div class="work-process-item">
                    <picture data-num="05">
                        <img  src="http://placehold.it/100" alt="">
                    </picture>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptates!</p>
                </div>
                    <div class="work-process-item">
                    <picture data-num="06">
                        <img  src="http://placehold.it/100" alt="">
                    </picture>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptates!</p>
                </div>
                    <div class="work-process-item">
                    <picture data-num="07">
                        <img  src="http://placehold.it/100" alt="">
                    </picture>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptates!</p>
                </div>
                    <div class="work-process-item">
                    <picture data-num="08" class="no-arrow">
                        <img  src="http://placehold.it/100" alt="">
                    </picture>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, voluptates!</p>
                </div>

            </div>
        </div>
    </section>


        <section class="our-help not-visible-md">
            <div class="container ">
                <h3>Наша работа и отзывы о ней</h3>

                <div class="our-help-inner">
                    <div id="review_image" class="our-help-media" style="background: url({{ allComments.first.image.url }}) no-repeat center">
                    </div>
                    <div class="our-help-info">
                        <div class="our-help-info-header mb30">
                            <img id="writtenbyavatar" src="{{ allComments.first.writtenByAvatar.url }}">
                            <div class="our-help-info-writtenby">
                                <p id="writtenby">{{ allComments.first.writtenBy }}</p>
                                <a id="writtenbyvk" target="_blank" href="{{ allComments.first.writtenByVk }}">{{ allComments.first.writtenByVk }}</a>
                            </div>
                        </div>
                        <p id="review_shortReview" class="mb30">
                            {{ allComments.first.description }}
                        </p>
                    </div>
                </div><!-- //our-help-inner-->

                <div class="our-help-media-slider" id="our-help-media-slider">
                    {% for comment in allComments %}
                        <div class="our-help-media-slide-item"
                             data-image="{{ comment.image.url }}"
                             data-writtenby="{{ comment.writtenBy }}"
                             data-writtenbyavatar="{{ comment.writtenByAvatar.url }}"
                             data-writtenbyvk="{{ comment.writtenByVk }}"
                             data-text="{{ comment.description }}"

                             onclick="changeReview(this)">
                            <div class="our-help-media-slide-image">
                                <img src="{{ comment.image.url }}" alt="">
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="controls" id="customize-controls">
                    <div class="prev">
                        <img src="{% static 'img/left-arrow.png' %} " alt="">
                    </div>
                    <div class="next">
                        <img src="{% static 'img/right-arrow.png' %}" alt="">
                    </div>
                </div>
            </div>
        </section><!-- // our-help -->
    {% if allVideoComments %}
        <section class="video-comments">
        <div class="container">
         <h3>Видео отзывы</h3>
            <div class="video-comments-wrapper">
                {% for video in allVideoComments %}
                    <div class="video-comments-item">
                    <div id="container" style="background: url(https://img.youtube.com/vi/{{ video.url }}/hqdefault.jpg) no-repeat center; background-size: cover">
                        <button  id="playme" onclick="revealVideo('video{{ forloop.counter }}','youtube')"></button>
                    </div>

                    <div id="video{{ forloop.counter }}" class="lightbox" onclick="hideVideo('video{{ forloop.counter }}','youtube')" >
                        <div class="lightbox-container">
                            <div class="lightbox-content">
                                <button onclick="hideVideo('video{{ forloop.counter }}','youtube')" class="lightbox-close">
                                    Закрыть | ✕
                                </button>
                                <div class="video-container">
                                    <iframe id="youtube" width="960" height="540" src="https://www.youtube.com/embed/{{ video.url }}?showinfo=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- // video-comments-item -->
                {% endfor %}

            </div>
        </div>
    </section><!-- // video-comments -->
    {% endif %}
        <section class="seo-text">
            <div class="container">
                {{ currentService.pageText | safe }}
            </div>

        </section>

    </div><!--//main-->

{% endblock %}

{% block js %}
    {{ block.super }}
     <script src="{% static 'js/Luminous.min.js' %}"></script>
    <script>new LuminousGallery(document.querySelectorAll(".gallery-demo")); </script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script>
    // Function to reveal lightbox and adding YouTube autoplay
    function revealVideo(div,video_id) {
        var video = document.getElementById(video_id).src;
        document.getElementById(video_id).src = video+'&autoplay=1'; // adding autoplay to the URL
        document.getElementById(div).style.display = 'block';
    }

    // Hiding the lightbox and removing YouTube autoplay
    function hideVideo(div,video_id) {
        var video = document.getElementById(video_id).src;
        var cleaned = video.replace('&autoplay=1',''); // removing autoplay form url
        document.getElementById(video_id).src = cleaned;
        document.getElementById(div).style.display = 'none';
    }
</script>
    <script>
        function readOurWorkText() {
            let x = document.getElementById("why-our-work-text")
            x.classList.toggle('why-our-work-text-active')
        }

        function readFullReview() {
            let x = document.getElementById("readfullreview_btn")
            if (x.innerHTML === "Читать далее...") {
                x.innerHTML = "Скрыть";
            } else {
                x.innerHTML = "Читать далее...";
            }
            document.getElementsByClassName('our-help-inner-full-review')[0].classList.toggle('full-review-active')


        }
          let review_image=document.getElementById('review_image'), writtenbyavatar=document.getElementById('writtenbyavatar'),
            writtenby=document.getElementById('writtenby'),writtenbyvk=document.getElementById('writtenbyvk'),
            review_shortReview=document.getElementById('review_shortReview')
    function changeReview(el) {

            review_image.style.background = "url('"+el.dataset.image+"') no-repeat center"
            writtenby.innerText = el.dataset.writtenby
            writtenbyavatar.innerText = el.dataset.writtenbyavatar
            writtenbyvk.innerText = el.dataset.writtenbyvk
            writtenbyvk.setAttribute('href',el.dataset.writtenbyvk)
            review_shortReview.innerHTML = el.dataset.text

    }


        var doc = document

        var mobile = 'false',
            isTestPage = false,
            isDemoPage = true,
            classIn = 'jello',
            classOut = 'rollOut',
            speed = 400,
            doc = document,
            win = window,
            ww = win.innerWidth || doc.documentElement.clientWidth || doc.body.clientWidth,
            fw = getFW(ww),
            initFns = {},
            sliders = new Object(),
            edgepadding = 50,
            gutter = 10;

        function getFW (width) {
            var sm = 400, md = 900, lg = 1400;
            return width < sm ? 150 : width >= sm && width < md ? 200 : width >= md && width < lg ? 300 : 400;
        }
        window.addEventListener('resize', function() { fw = getFW(ww); });

        var options = {
            'our-help-media-slider': {
                container: '',
                items: 4,
                gutter:10,
                controlsContainer: '#customize-controls',
                autoplay: true,
                autoplayTimeout: 4000,
                speed: 1000,

            }


        }



        for (var i in options) {
            var item = options[i];
            item.container = '#' + i;
            item.swipeAngle = false;
            if (!item.speed) { item.speed = speed; }

            if (doc.querySelector(item.container)) {
                sliders[i] = tns(options[i]);

                // call test functions
                if (isTestPage && initFns[i]) { initFns[i](); }


                // test responsive pages
            } else if (i.indexOf('responsive') >= 0) {
                if (isTestPage && initFns[i]) { initFns[i](); }
            }
        }

        // goto
        if (doc.querySelector('#base_wrapper')) {
            var goto = doc.querySelector('#base_wrapper .goto-controls'),
                gotoBtn = goto.querySelector('.button'),
                gotoInput = goto.querySelector('input');

            gotoBtn.onclick = function (event) {
                var index = gotoInput.value;
                sliders['base'].goTo(index);
            };
        }




    </script>

{% endblock %}
