.blog
  margin-bottom: 130px
.blog-posts-wrapper
  display: grid
  column-gap: 30px
  row-gap: 50px
  grid-template-columns: repeat(auto-fit,minmax(370px,1fr))

.blog-post-item
  box-shadow: 0 0 46px rgba(34, 36, 37, 0.12)
  border-radius: 10px

  img
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    margin-bottom: 30px
    //max-width: 330px
  h5
    color: $color-text-d-grey
    //width: 290px
    font-family: $f-BerMd
    font-size: 24px
    margin-bottom: 35px

    a
      color: inherit
      display: block
      text-align: center
  p
    max-width: 360px
    font-family: $f-GR
    font-size: 14px
    color: $color-text-m-grey



.blog-post-text
  h1
    font-family: $f-M700
    font-size: 21px
    color: $color-text-d-grey
    margin-bottom: 50px
  p
    line-height: 30px
    font-family: $f-GR
    font-size: 16px
    color: $color-text-m-grey


.blog-post-image
  img
    border-radius: 10px

@media (max-width: 1090px)
  .blog-posts-wrapper
    grid-template-columns:  1fr 1fr
    text-align: center
  .blog-post-item
    h5
      width: 100%
    p

      max-width: none
  .blog-post-image
    order: 1
    text-align: center
  .blog-post-text
    order: 2
    h1
      text-align: center

@media (max-width: 760px)
  .blog-posts-wrapper
    grid-template-columns:  1fr