$color-pimary: #18b9c2
$color-d-blue: #456dab
$color-m-blue: #3973c5
$color-l-blue: #5d96e5

$color-text-d-grey: #1f1f1f
$color-text-m-grey: #292929

$color-border: #cecece

$f-BerBl: 'BerlingskeSerif-Blk',sans-serif
$f-BerDb: 'BerlingskeSerif-DBdItalic',sans-serif
$f-BerMd: 'BerlingskeSerif-MdItalic',sans-serif

$f-M100: 'MuseoSansCyrl-100',sans-serif
$f-M300: 'MuseoSansCyrl-300',sans-serif
$f-M500: 'MuseoSansCyrl-500',sans-serif
$f-M700: 'MuseoSansCyrl-700',sans-serif

$f-GR: 'Gotham Regular',sans-serif
$f-GB: 'Gotham Bold',sans-serif
$f-GL: 'Gotham Light',sans-serif
$f-GM: 'Gotham Medium',sans-serif

body
  font: 16px "Gotham Regular", sans-serif
  color: #1f1f1f

h1
  color: $color-text-d-grey
  font-family: $f-BerMd
  font-size: 48px
  margin-bottom: 50px
  line-height: 45px

@media (max-width: 425px)
  h1
    font-size: 30px
    margin-bottom: 20px
h3
  color: $color-text-d-grey
  font-family: $f-BerMd
  font-size: 48px

button[type='button']
  display: none

h5
  font: 20px $f-M500
  color: $color-text-d-grey

.text-bold
  font-family: $f-M500 !important

input,select

  background: #ffffff
  padding: 10px
  font-family: $f-M100
  font-size: 16px
  border: 1px solid $color-pimary
  border-radius: 30px
  color: $color-text-m-grey
  width: 100%

  box-sizing: border-box
  &::placeholder
    color: #83868f
    font-family: $f-GR
    font-size: 16px
  &:focus
    outline: 0

.form
  &-wrapper
    display: grid
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr))
    grid-gap: 30px
    margin-bottom: 40px
  &-result
    align-self: flex-end
  &-group
    label
      font: 14px $f-M100

  p
    font: 16px $f-M500 !important


.container
  max-width: 1140px
  padding: 0 15px
  margin: 0 auto

.container-sm
  max-width: 945px
  padding: 0 15px
  margin: 0 auto
.btn
  border: none
  display: inline-block
  box-sizing: border-box
  text-decoration: none
  cursor: pointer
  text-align: center
  padding: 10px
  text-shadow: 0 1px 0 #174da4
  font: 15px $f-M500
  color: #ffffff
  letter-spacing: 0.32px
  box-shadow: inset 0 0 13px rgba(255, 255, 255, 0.2)
  border-radius: 30px
  background-image: linear-gradient(to top, #189ca3 0%, #0ed6e1 100%)

  &:focus
    outline-width: 0
  &:hover
    //box-shadow: inset 0 0 73px rgba(255, 187, 0, 0.18), inset 0 0 18px rgba(255, 255, 255, 0.75)
    background-image: linear-gradient(to bottom, #189ca3 0%, #0ed6e1 100%)

.section-header
  text-align: center
  h3
    color: $color-text-d-grey
    font-family: $f-GM
    font-size: 48px
  p
    color: $color-text-d-grey
    font-family: $f-GR
    font-size: 24px

@media (max-width: 590px)
  .form
    &-wrapper
      margin-bottom: 0
  .section-header
    h3
      font-size: 20px
    p
      font-size: 16px

.shadow-box
  box-sizing: border-box
  border-radius: 10px
  background-color: #fff
  box-shadow: 0 0 51px 0 rgba(0, 0, 0, 0.1)
  padding: 9px
  &-inner
    box-sizing: border-box
    border-radius: 10px
    min-height: 100%
    height: fit-content
    border: 1px dashed $color-pimary


.breadcrumbs
  font-family: $f-GL
  font-size: 16px
  margin-bottom: 50px
  ul
    display: flex
    flex-wrap: wrap
    li
      &:after
        content: '/'
        margin: 0 10px
      &:last-child:after
        content: ''
      a
        color: $color_l_blue

.success-message
  display: none
  p
    color: $color-text-d-grey
    font-family: $f-GR
    font-size: 24px


.masked-phone
  color: #83868f
  font-family: $f-GR
  font-size: 16px

.error-field
  border: 1px solid #ff2f36 !important


.modal
  position: relative
  z-index: 999
  &-form
    position: relative
  &-close
    position: absolute
    right: 25px
    top: 25px
    font-size: 40px
    cursor: pointer
    color: $color-text-d-grey
    opacity: .9
    &:hover
      opacity: 1

  &-content
    position: fixed
    display: flex
    overflow: auto
    //padding-bottom: 15px
    //padding-top: 15px
    flex-direction: column
    align-items: center
    justify-content: center
    top: 0
    left: 10000px
    width: 100%
    height: 100%
    background: rgba(21, 21, 21, 0.41)
    transition: left 0.3s ease-out
    & .shadow-box
      max-width: 420px
    & .shadow-box-inner
      display: flex
      flex-direction: column
      align-items: center
      padding: 30px
      justify-content: center
    h5
      font-family: $f-GB
      font-size: 21px
      color: $color-text-d-grey
      text-align: center
    span
      font-family: $f-GR
      font-size: 16px
      color: $color-text-m-grey
      margin-bottom: 40px
    & .btn
      margin: 30px 0
      width: 100%
      padding: 20px 10px
    p
      font-family: $f-M300
      font-size: 12px
      color: $color-text-m-grey
      max-width: 200px
      text-align: center
      a
        color: $color-l-blue

  &-content.modal-active
    left: 0
    transition: left 0.3s ease-in

@media (max-width: 590px)
  .section-header
    font-size: 20px !important
    line-height: 25px
    margin-bottom: 15px
  .text-center
    margin: 0
  .hidden-mobile
    display: none !important
  section
    margin-bottom: 40px !important

.about-us-inner
  p
    margin-bottom: 10px
  ol
    li
      font-family: $f-GR
      font-size: 16px
      color: $color-text-m-grey
  h2
    font-family: $f-GB
    font-size: 20px
    margin-bottom: 10px
    color: $color-text-m-grey

.calculator-form
  margin-bottom: 60px
  .shadow-box
    max-width: 800px
    margin: 0 auto
    margin-top: 50px

  .shadow-box-inner
    padding: 35px 60px

    p
      font: 24px $f-M300
      color: $color-text-d-grey
      line-height: 30px
      max-width: 580px
      text-align: start
      margin: 0 0 30px 0

      span
        color: $color-pimary
        font-family: $f-M700
.input_style-2
  border: none
  background: #f8f9fb
  padding: 20px 25px
  font-family: $f-GR
  font-size: 16px
  color: $color-text-m-grey
  margin-bottom: 10px
  border-radius: 5px
  width: 100%
  box-sizing: border-box
  &::placeholder
    color: #83868f
    font-family: $f-GR
    font-size: 16px

.form-header
  font: 27px $f-BerDb
  color: $color-text-d-grey
  margin-bottom: 15px
  &-small
    font: 16px $f-GR
    line-height: 24px
    margin-bottom: 40px


.custom-checkbox
  padding: 6px 40px
  font-size: 12px
  font-family: 'MuseoSansCyrl-300', sans-serif
  color: #bfc0c5
  position: relative
  user-select: none

  input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0

.checkmark
  position: absolute
  top: 8px
  left: 0
  height: 20px
  width: 20px
  border-radius: 5px
  background-color: #ffffff
  border: 1px solid #bfc0c5
  &:after
    content: ""
    position: absolute
    display: none

.custom-checkbox:hover input ~ .checkmark
  background-color: #ccc

.custom-checkbox input:checked ~ .checkmark
  background-color: #ffffff
  border: 1px solid #bebebe

.custom-checkbox input:checked ~ .checkmark:after
  display: block

.custom-checkbox .checkmark:after
  left: 8px
  top: 4px
  width: 6px
  height: 10px
  border: solid $color-pimary
  border-width: 0 2px 1px 0
  transform: rotate(45deg)

.features
  display: grid
  grid-gap: 35px
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr))
  margin-bottom: 120px
  .feature-item
    p
      position: relative
      font-family: 'MuseoSansCyrl-700', sans-serif
      font-size: 60px
      color: $color-pimary
      margin-bottom: 25px
      text-align: center
      &::after
        content: ''
        position: absolute
        width: 90px
        height: 2px
        bottom: -5px
        background: #000
        left: 0
        right: 0
        margin-left: auto
        margin-right: auto
    span
      display: block
      margin: 0 auto
      font-family: 'MuseoSansCyrl-300', sans-serif
      font-size: 14px
      color: $color-text-d-grey
      text-align: center

@media (max-width: 590px)
  .features
    margin-bottom: 40px
.mb-80
  margin-bottom: 80px
.text-center
  text-align: center
  margin-bottom: 70px
.seo-text
  margin-bottom: 100px

  h2
    color: $color-text-d-grey
    font-family: $f-BerMd
    font-size: 30px
    margin: 15px 0
  p
    margin-bottom: 15px

  ul
    margin-bottom: 15px
    li
      list-style: square
      margin-left: 20px
