.map
  //background: url(../img/map.png)
  //height: 600px

  &-inner
    position: relative

    & .shadow-box
      top: -530px
      position: absolute
      max-width: 340px
      box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.2)

    & .shadow-box-inner
      padding: 20px
      display: flex
      border: none
      flex-direction: column
      align-items: flex-start
      justify-content: space-around
    &-contact
      p
        font-family: $f-GM
        font-size: 18px
        color: $color-text-d-grey
    a
      font-family: $f-GR
      color: #ffffff
      width: 100%
      padding: 20px 0
      margin-top: 30px
      margin-bottom: 20px

@media (max-width: 1024px)
  .map
     &-inner
       & .shadow-box
         min-width: 320px

@media (max-width: 768px)
  .map
     &-inner
       justify-content: center



