.services
  margin-bottom: 120px
  h3
    line-height: 50px
    max-width: 770px
    margin: 0 auto 70px
    text-align: center
  &-items
    display: grid
    grid-gap: 35px
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr))


  &-item
    box-shadow: 0 0 46px 0 rgba(34, 36, 37, 0.12)
    padding: 25px 65px
    text-align: center
    border-radius: 10px

    p
      font: 24px $f-BerMd
      color: $color-text-d-grey


.service-prices
  margin-bottom: 140px
  &-custom
    overflow: auto
    margin-bottom: 140px
  &-inner
    display: flex
    flex-wrap: wrap
    h5
      font-family: $f-GM
      font-size: 21px
      color: $color-text-d-grey
      padding: 25px 0 25px 40px
      border-bottom: 1px solid $color-border
      span
        display: none
    p
      font-family: $f-GR
      font-size: 16px
      color: $color-text-m-grey
      padding: 25px 0 25px 40px
      border-bottom: 1px solid $color-border
      min-height: 70px
      display: flex
      flex-wrap: wrap
      align-items: center
      span
        display: block
        font-size: 14px
        color: rgba(41, 41, 41, 0.84)
        margin-top: 5px
      b
        display: none
        margin-top: 10px
      &:last-child
        border-bottom: none
        padding-top: 25px

    &-big-block
      position: relative
      box-sizing: border-box
      border-radius: 5px
      padding: 30px
      border-top: 2px solid $color-pimary
      box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1)
      flex-basis: 65%
      flex-grow: 1
    &-small-block
      border-radius: 5px
      box-sizing: border-box
      padding: 30px
      border-top: 2px solid $color-l-blue
      box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1)
      flex-basis: 35%
      flex-grow: 1

@media (max-width: 590px)
  .service-prices

    &-inner
      h5
        padding: 20px 10px
        font-size: 18px
        span
          display: inline-block
      p
        padding: 10px
        span
          margin-top: 10px
        b
          display: block
      &-big-block
        padding: 10px
      &-small-block
        display: none
.service-feature
  margin-bottom: 140px
  &-items
    display: flex
    flex-wrap: wrap
  &-item
    display: flex
    justify-content: space-around
    align-items: center
    flex-basis: 50%
    margin-bottom: 30px
    &-number
      p
        background: $color-pimary
        color: #ffffff
        font-family: $f-GB
        font-size: 28px
        border-radius: 50%
        padding: 25px 16px
        border: 3px solid #ffffff
        line-height: 0
        box-shadow: 0 23px 57px 0 rgba(0, 0, 0, 0.5)

    &-info
      h5
        font-family: $f-GB
        font-size: 21px
        color: $color-text-d-grey
        text-transform: uppercase
        margin-bottom: 20px
      p

        max-width: 225px
        font-family: $f-GR
        font-size: 16px
        line-height: 21px
        color: $color-text-m-grey

@media (max-width: 590px)
  .services
    h3
      font-size: 30px !important
      line-height: 25px
      margin-bottom: 20px
  .service-feature
    &-item
      flex-basis: 100%

.reviews
  margin-bottom: 140px

.slider-item
  border-radius: 10px
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1)
  display: flex

  img
    border-bottom-left-radius: 10px
    border-top-left-radius: 10px

  h5
    position: relative
    font-family: $f-GB
    font-size: 21px
    color: $color-text-d-grey
    text-transform: uppercase
    margin-bottom: 15px
    &:after
      position: absolute
      content: ''
      width: 100%
      height: 1px
      background: $color-border
      left: 0
      bottom: -60px
  span
    max-width: 225px
    font-family: $f-GR
    font-size: 16px
    color: $color-text-m-grey
  p
    position: relative
    margin-top: 44px
    font-family: $f-GR
    font-size: 16px
    color: $color-text-m-grey
    &:after
      position: absolute
      content: '"'
      font-size: 300px
      color: #efefef
      top: 115px
      right: 0
      z-index: -1
      line-height: 0

  &-info
    padding: 35px 20px
    width: 100%
    box-sizing: border-box

.callback-form
  margin-bottom: 140px

@media (max-width: 768px)
  .slider-item
    flex-wrap: wrap
@media (max-width: 425px)
  .slider-item
    img
      border-bottom-left-radius: 0
      border-top-left-radius: 10px
      border-top-right-radius: 10px


.work-process
  margin-bottom: 100px
  &-wrapper
    display: grid
    grid-gap: 35px
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr))
  &-item
    p
      line-height: 21px
    picture
      position: relative
      z-index: 1

      img
        display: block
        border-radius: 50%
        border: 2px solid $color-pimary
        margin-bottom: 20px
      &::before
        position: absolute
        z-index: 2
        content: attr(data-num)
        top: 0
        left: 0
        background: $color-pimary
        color: #ffffff
        border-radius: 50%
        padding: 10px
      &::after
        position: absolute
        content: "\2192"
        z-index: 2
        color:  $color-pimary
        top: 13px
        right: -250px
        font-size: 60px

.no-arrow::after
  content: none !important

@media (max-width: 590px)
  .work-process
    &-item
      picture
        &::after
          content: none
        &::before
          content: none
        img
          margin: 0 auto
          margin-bottom: 10px
      p
        text-align: center




.lightbox
  background-color: rgba(0, 0, 0, 0.31)
  overflow: scroll
  position: fixed
  display: none
  z-index: 1
  bottom: 0
  right: 0
  left: 0
  top: 0

  &-container
    position: relative
    max-width: 960px
    margin: 7% auto
    display: block
    padding: 0 3%
    height: auto
    z-index: 10

    // Increasing top margin for mobile
    @media screen and (max-width: 768px)
      margin-top: 10%
    @media screen and (max-width: 414px)
      margin-top: 13%


  &-content
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.31)


  &-close
    text-transform: uppercase
    background: transparent
    position: absolute
    font-weight: 300
    font-size: 12px
    display: block
    border: none
    color: white
    top: -22px
    right: 3%



.video-container
    padding-bottom: 56.25%
    position: relative
    padding-top: 30px
    overflow: hidden
    height: 0


.video-container iframe,
.video-container object,
.video-container embed
    position: absolute
    height: 100%
    width: 100%
    left: 0
    top: 0


/* IGNORE FORM THIS POINT ON */


#container


  height: 250px
  box-shadow: 0 0 40px rgba(23, 25, 28, 0.17)
  border-radius: 10px
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 20px

#playme
  border: none
  background: url(../img/play.png) no-repeat center
  height: 165px
  width: 165px
  opacity: .8
  transition: opacity .2s linear
  cursor: pointer
  &:hover
    opacity: 1
    transition: opacity .2s linear

.video-comments
  margin-bottom: 100px
  &-wrapper
    display: grid
    grid-gap: 30px
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr))