{% load static %}
<!DOCTYPE html>
<!-- SKIBORG WAS HERE -->
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate"/>
    <title>{% block title %}  KOSMOS {% endblock %} </title>
    <meta name="keywords" content="{% block keywords %} keywords {% endblock %}">
    <meta name="description" content="{% block description %} description {% endblock %}"/>
<link rel="canonical" href="{{ request.META.HTTP_HOST }}{{ canonical_url }}" />
 <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    {% if seotag.yandexTAG %}
        {{ seotag.yandexTAG |safe }}
    {% endif %}
    {% if seotag.googleTAG %}
        {{ seotag.googleTAG |safe }}
    {% endif %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body>

{% block content %}
{% endblock %}

{% include 'footer.html' %}


{% block js %}
    <script src="{% static 'js/phone-mask.min.js' %}"></script>
    <script>
        let mobile_button = document.getElementsByClassName('mobile-toggle')[0],
            mobile_menu = document.getElementsByClassName('header-nav__nav-wrapper')[0],
            csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].defaultValue,
            service=document.getElementById('service'),square=document.getElementById('square'),
            result=document.getElementById('form_result'),
            addInfo = false

        mobile_button.onclick = function () {
            this.classList.toggle('mobile-toggle-active')

            mobile_menu.classList.toggle('mobile-active')
        }

        function toggleModal(type) {
            document.getElementsByClassName(type)[0].classList.toggle('modal-active')
            return false
        }

        function sendForm(type) {
            if (! document.getElementById('personal_check').checked && type === 'form'){
                return
            }
             if (! document.getElementById('personal_check1').checked && type === 'modal'){
                return
            }
            document.getElementById(`${type}_name`).classList.remove('error-field')
            document.getElementById(`${type}_phone`).classList.remove('error-field')
            console.log('send')
            let fd = new FormData();
            fd.append('csrfmiddlewaretoken', csrfmiddlewaretoken)

            fd.append('userName', document.getElementById(`${type}_name`).value)
            fd.append('userPhone', document.getElementById(`${type}_phone`).value)
            if (addInfo){
                fd.append('service', service.options[service.selectedIndex].innerText)
                fd.append('square', square.value)
            }

            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/callback/callback/', true);
            xhr.onload = function () {
                let result = JSON.parse(this.response)['result']
                console.log(result)
                if ( result === 'ok') {
                    document.getElementById(`${type}_content`).innerHTML='<h5>Спасибо за обращение, Вам перезвонят</h5>'
                }
                else {
                    if (result === 'name'){
                        document.getElementById(`${type}_name`).classList.add('error-field')
                    }
                    if (result === 'phone'){
                        document.getElementById(`${type}_phone`).classList.add('error-field')
                    }
                }}
            xhr.send(fd);
        }

        function calculate() {
            let squareVal = parseInt(square.value),
                servicePrice = parseInt(service.options[service.selectedIndex].dataset.price),
                servicePrice1 = parseInt(service.options[service.selectedIndex].dataset.price1),
                servicePrice2 = parseInt(service.options[service.selectedIndex].dataset.price2)

            if (servicePrice && squareVal > 0){
                addInfo = true

                if (squareVal < 50){
                    result.innerText = squareVal * servicePrice
                }

                if (squareVal >= 50 && squareVal < 100 ){
                    result.innerText = squareVal * servicePrice1
                }

                if (squareVal >= 100 ){
                    result.innerText = squareVal * servicePrice2
                }

            }
            else {
                addInfo = false
                return
            }


        }
    </script>
{% endblock %}
{{ seotag.yandexMetrika |safe }}
{{ seotag.fbPixel |safe }}
</body>
</html>