{% load static %}
<section class="map">
    <div class="container map-inner">
        <div class="shadow-box">
            <div id="form_content" class="shadow-box-inner">
                <h5 class="form-header">Остались вопросы ?</h5>
                <span class="form-header-small">Мы моментально перезвоним и ответим на них</span>
                <input class="input_style-2" type="text" id="form_name" placeholder="Как к Вам обращаться?">
                <input type="tel" id="form_phone"  class="input_style-2 masked-phone" placeholder="Ваш сотовый номер" data-phonemask="+7(___)___-__-__" />
                <a   class="btn" onclick="sendForm('form')">Перезвоните мне</a>
                <label class="custom-checkbox"><span>Даю согласие на обработку моих персональных данных</span>
                    <input name="personal" checked required type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <input style="display: none" name="agree" type="checkbox">
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="footer-top ">
            <div class="footer-top-info">
                <p>Все материалы данного сайта защищены авторским правом. Полное или частичное копирование запрещено. Информация предназначена для аудитории 14+</p>
                <div class="footer-social">


                    <ul>
                        <li><a href="#" rel="nofollow"><span class="vk_icon"></span></a></li>
                        <li><a href="#" rel="nofollow"><span class="fb_icon"></span></a></li>
                        <li><a href="#" rel="nofollow"><span class="inst_icon"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-top-list">
                <p>Реквизиты в России:</p>
                <ul>
                    <li>ИП Екимов Сергей Юрьевич</li>
                    <li>ИНН 745221045892</li>
                    <li>ОГРНИП 305745226400034</li>
                </ul>
            </div>
            <div class="footer-top-list ">
                <p>Адрес офиса:</p>
                <ul>
                    <li>454081, г.Челябинск</li>
                    <li>ул.Артиллерийская, д.98-А</li>
                    <li>Телефон: +7 (351) 777-20-03</li>
                </ul>
            </div>

            <div class="footer-top-phones text-right">
                <p>+7 (351) 777-20-03</p>
                <a href="javascript: void(0)" onclick="toggleModal('callback-modal')" class="btn ">Перезвоните мне</a>
            </div>





        </div>

    </div>
</footer>
<div id="callback_modal" class="modal">
    <div class="modal-content callback-modal">
        <div class="modal-form">
            <b class="modal-close" onclick="toggleModal('callback-modal')">&#215;</b>
            {% csrf_token %}
            <div class="shadow-box">
                <div id="modal_content" class="shadow-box-inner">
                    <h5 class="form-header">Остались вопросы ?</h5>
                    <span class="form-header-small">Мы моментально перезвоним и ответим на них</span>
                    <input class="input_style-2" type="text" id="modal_name" placeholder="Как к Вам обращаться?">
                    <input class="input_style-2 masked-phone" type="tel" id="modal_phone" placeholder="Ваш сотовый номер" data-phonemask="+7(___)___-__-__">
                    <a   class="btn" onclick="sendForm('modal')">Перезвоните мне</a>
                    <label class="custom-checkbox"><span>Даю согласие на обработку моих персональных данных</span>
                        <input name="personal" checked required type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <input style="display: none" name="agree" type="checkbox">
                </div>
            </div>
        </div>
    </div>
</div><!--callback_order_modal -->