{% load static %}
<header class="header header-no-bg">
    <div class="container header-nav-wrapper">
        <div class="header-logo">
            <a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>

        </div>
        <nav class="header-nav">
            <ul class="header-nav__nav-wrapper">
                <li><a class="{{ homeactive }}" href="{% url 'index' %}">Главная</a></li>
               <li class="with-sub-menu"><a class="{{ servicesactive }}" href="{% url 'services' %}">Услуги</a>
                <div class="sub-menu shadow-box">
                    <ul class="shadow-box-inner">
                        {% for service in allServices %}
                        <li><a href="{% url 'service' service.name_slug %}">{{ service.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                </li>
                <li><a class="{{ contactsactive }}" href="{% url 'contacts' %}">Контакты</a></li>
                 <li><a class="{{ postactive}}" href="{% url 'allposts' %}">Статьи</a></li>
                <li><a class="{{ aboutactive }}" href="{% url 'about' %}">О нас</a></li>

            </ul>
        </nav>

        <div class="header-phone">
            <p>+7 351 777-20-03</p>
            <a class="btn"  href="javascript: void(0)" onclick="toggleModal('callback-modal')">Заказать звонок</a>
        </div>
        <div class="mobile-toggle">

        </div>
    </div><!-- // header-nav-wrapper -->

</header>