{% load static %}
<header class="header header-with-bg">
    <div class="container header-nav-wrapper">
        <div class="header-logo">
            <a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>

        </div>
        <nav class="header-nav">
            <ul class="header-nav__nav-wrapper">
                 <li><a class="{{ homeactive }}" href="{% url 'index' %}">Главная</a></li>
                <li><a class="{{ servicesactive }}" href="{% url 'services' %}">Услуги</a></li>
                <li><a class="{{ contactsactive }}" href="{% url 'contacts' %}">Контакты</a></li>
                <li><a class="{{ aboutactive }}" href="{% url 'about' %}">О нас</a></li>

            </ul>
        </nav>

        <div class="header-phone">
            <p>8 351 777-20-03</p>
            <a class="btn" onclick="toggleModal('callback-modal')" href="javascript:void(0);">Заказать звонок</a>
        </div>
        <div class="mobile-toggle">

        </div>
    </div><!-- // header-nav-wrapper -->
    <div class="container  header-inner">

        <h1>Откройте двери идеальной чистоте</h1>
        <p class="not-visible-sm">Выбере услугу и количество квадратных метров помещения
            чтобы определить примерную стоимость уборки</p>

        <div class="shadow-box" >
            <div class="shadow-box-inner">
                <p>Давайте <span>бесплатно расчитаем </span>стоимость уборки вашего помещения</p>
                <form class="form">
                    <div class="form-wrapper">
                        <div class="form-group">
                            <label for="service">Выберите услугу</label>
                            <select id="service" onchange="calculate()">
                                    <option selected disabled></option>
                                  {% for service in allServices %}
                                    <option data-price="{{ service.price }}" value="{{ service.id }}">{{ service.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="square">Кол-во квадратных метров</label>
                            <input id="square" type="number" oninput="calculate()" value="0" >
                        </div>
                        <div class="form-result">
                            <p>Итого: <span id="form_result">0</span></p>
                        </div>
                    </div>
                    <p>Готовы сделать заказ? Позвоните или закажите обратный звонок</p>
                    <a onclick="toggleModal('callback-modal')" href="javascript:void(0);" class="btn">Заказать звонок</a>
                </form>
            </div>
        </div><!--//shadow-box-->
    </div><!-- // header-inner -->
</header>