{% load static %}
<header class="header header-with-bg">
    <div class="container header-nav-wrapper">
        <div class="header-logo">
            <a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>

        </div>
        <nav class="header-nav">
            <ul class="header-nav__nav-wrapper">
                 <li><a class="{{ homeactive }}" href="{% url 'index' %}">Главная</a></li>
                <li><a class="{{ servicesactive }}" href="{% url 'services' %}">Услуги</a></li>
                <li><a class="{{ contactsactive }}" href="{% url 'contacts' %}">Контакты</a></li>
                <li><a class="{{ postactive}}" href="{% url 'allposts' %}">Статьи</a></li>
                <li><a class="{{ aboutactive }}" href="{% url 'about' %}">О нас</a></li>

            </ul>
        </nav>

        <div class="header-phone">
            <p>+7 351 777-20-03</p>
            <a class="btn" onclick="toggleModal('callback-modal')" href="javascript:void(0);">Заказать звонок</a>
        </div>
        <div class="mobile-toggle">

        </div>
    </div><!-- // header-nav-wrapper -->
    <div class="container  header-inner">

        <h1>Откройте двери идеальной чистоте</h1>
        <p class="not-visible-sm">Расчет услуг производится индивидуально на каждом объекте</p>

       {% include 'pages/form.html' %}
    </div><!-- // header-inner -->
</header>