<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<title>Регистрация нового пользователя</title>
<style type="text/css">

</style>
</head>
<body>
	<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background: #f5f5f5; min-width: 340px; font-size: 16px; line-height: normal;">
 	<tr>
   		<td align="center" valign="top">
   			<table cellpadding="0" cellspacing="0" border="0" width="700" class="table700" style="max-width: 700px; min-width: 320px; background: #ffffff;">

                <tr>
                    <td align="center" >

                        <table style="border-collapse: collapse; width: 650px; font-size: 18px;margin-top: 30px;" >
                            <tr>
                                <td style="padding: 3px; border: 1px solid #999; text-align: center; background: #f5f5f5;"><strong>Заполнена форма</strong></td>
                            </tr>
                            <tr>
                                <td style="padding: 3px; border: 1px solid #999;">
                                    <strong>Имя</strong> : {{ userName }}<br>
                                    <strong>Телефон</strong> : {{ userPhone }}<br>
                                    <strong>Услуга</strong> : {{ service }}<br>
                                    <strong>Квадратура</strong> : {{ square }}<br>


                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>




			</table>
		</td>
	</tr>
</table>
</body>
</html>


<!--
https://3dsec.sberbank.ru/payment/rest/register.do?amount=55550&amp;amp;failUrl=https://yandex.ru&amp;amp;orderNumber=t5tyе4ce35668&amp;amp;pageView=MOBILE&amp;amp;userName=userName-api&amp;amp;description='Тестовый заказ СБРФ разные Tax'&amp;amp;password=password&amp;amp;returnUrl=http://yandex.ru&amp;amp;orderBundle={"customerDetails":{"phone":"79998887766","email":"mail@mail.ru","fullName":"","passport":"123","inn":"1231231231"},
"cartItems":{"items":[{"positionId":1,"name":"Дезодорант 1","quantity":{"value":1,"measure":"шт"},"itemCode":"51","itemPrice":20550,"itemAmount":20550, "tax":{"taxType":3, "taxSum":3699}},
{"positionId":2,"name":"Дезодорант 2","quantity":{"value":2,"measure":"шт"},"itemCode":"52","itemPrice":10000,"itemAmount":20000, "tax":{"taxType":6, "taxSum":0}},
{"positionId":3,"name":"Дезодорант 3","quantity":{"value":1,"measure":"шт"},"itemCode":"53","itemPrice":15000,"itemAmount":15000, "tax":{"taxType":7, "taxSum":1500}}]}}
-->